<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('partials/_header') %>

    <div class="error-message">
      <h2><%= errorMessage %></h2>
    </div>

    <form action="/signup" method="POST" novalidate>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          value="<%= oldInput.email %>"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          value="<%= oldInput.password %>"
        />
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          value="<%= oldInput.confirmPassword %>"
        />
      </div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
